/* przyciski gornej skecji */

.apk-ui-btn {
   
    background-color: transparent;
    width: 1.5rem;
    height: 1.5rem;
    color: var(--text-secondary);
    outline: none;
    border: none;
    opacity: .7;
    cursor: pointer;
    position: relative;
}
.add-task{
    outline: none;
    border: none;
    cursor: pointer;
    position: fixed;
    bottom: 8rem;
    right: 5rem;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.466));
    backdrop-filter: blur(5px);
    border-radius: 5px;
    padding: 2px;
    
    z-index:2;
    
}
.carusel-btn{
    outline: none;
    border: none;
    background-color: transparent;
    color: var(--text-secondary);
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: 600;
}
.task-acc-btn{
    background-color: transparent;
    width: 1rem;
    height: 1rem;
    color: var(--text-secondary);
    outline: none;
    border: none;
}
.node-acc-btn{
    
    background-color: transparent;
    width: 1rem;
    height: 1rem;
    color: var(--text-secondary);
    outline: none;
    border: none;
}
.roud-btns-svg{
    
    width: 1.2rem;
    height: 1.2rem;
    color: var(--text-secondary);
    margin-top: .5rem;
    
}

    


.search-toggle{
    margin-top: .3rem;
}
.user-menu{
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    min-height: 2.5rem;
    min-width: 2.5rem;
    margin: .5rem;
    background: var(--color-btns);
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    align-self:self-start ;
    
}


    

.user-settings{
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    right: .8rem;
    min-height: 2.5rem;
    min-width: 2.5rem;
    margin: .5rem ;
    background: var(--color-btns);
    align-items: center;
    
    justify-content: center;
    
    border-radius: 5px;
    align-self:self-start ;
}
.user-icon{
     color: var(--text-secondary);
     display: flex;
     height: auto;
     flex-direction: row-reverse;
     align-items: center;
}
.user-portrait{
    width: 1.5rem;
    height: 1.5rem;
}


.dropdown-btn{
    color: var(--color-text-secondary);
    outline: none;
    border: none;
    width: 100%;
    background-color: transparent;
    margin-top: .5rem;
    font-size: 12px;
   
}
.dropdown-exit-btn,.exit-btn {
    width: 1rem;
    height: 1rem;
    color: var(--color-text-secondary);
    outline: none;
    border: none;
    margin: .2rem;
    cursor: pointer;
    position: relative;
    background-color: transparent;
    align-self:self-end ;
    height: auto;
}
.exit-btn {
    margin: 0 1rem 1rem 0;
}
.exit-btn2{
    margin: 0;
}
.search-btn{
    width: 1rem;
    height: 1rem;
    color: var(--color-text-secondary);
    outline: none;
    border: none;
    right:1rem;
    cursor: pointer;
    position: relative;
    background-color: transparent;
}
.goback-btn-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin:0 .5rem .5rem .5rem;
    
}
.user-nav-section{
    display: flex;
    flex-direction: column;
}
.tag-btn{
     width: 5px;
    height: 5px;
    color: var(--color-btns);
    outline: none;
    border: none;
    
    cursor: pointer;
    position: relative;
    background-color: transparent;
}
.task-handler-btn{
    outline: none;
    border: none;
    display: flex;
    width: 5rem;
    cursor: pointer;
    position: relative;
    background-color: transparent;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.aprove{
    background: var(--color-done);
}
.abandon{
    background: var(--color-danger);
}
    
.dot {
    fill: #444;
}
.dot.active {
    fill: #6BCDCE
}

.roud-btns {
    height: 3rem;
    width: 5rem;
    background: var(--color-subtask);
    outline: none;
    border: none;
    border-radius: 20%;
    color: var(--text-secondary);
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 500;
}