/* Karty, modale */
/* Glassmorphic okna */
/*  Akcenty */
.calendar__button {
  color: #aaaaaa;
  font-size: 16px;
  font-weight: 500;
  border: none;
  outline: none;
  background: transparent;
  width: 1rem;
  height: 1rem;
  margin: 0 0.5rem;
}

.calendar__weekday-btn {
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  border: none;
  outline: none;
  background: transparent;
  width: 3rem;
  height: 2rem;
  margin: 0 0.5rem;
  font-size: 12px;
  line-height: 2rem;
  padding-bottom: 0.25rem;
  border-right: 1px solid rgba(117, 112, 112, 0.404);
  transition: border-color 0.2s ease;
  transition: width 0.2s ease;
  border-image: linear-gradient(to bottom, transparent 30%, rgba(117, 112, 112, 0.404)) 1;
  margin: 0;
}
.calendar__weekday-btn.is-active {
  width: 4rem;
  color: #6bcdce;
  background: linear-gradient(to bottom, transparent, rgba(107, 205, 206, 0.1));
  font-size: 14px;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(to bottom, transparent 50%, #6bcdce) 1;
  border-radius: 0 0 7px 7px;
  border-bottom-color: #6bcdce;
  font-weight: 400;
  filter: drop-shadow(1px 2px 5px #44787c);
}
.calendar__weekday-btn:last-child {
  border-right: none;
}

.calendar__section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.calendar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  font-family: "Oxanium", sans-serif;
  color: #aaaaaa;
  top: 4rem;
}
.calendar__months {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}
.calendar__months-carousel {
  display: flex;
  width: 4.5rem;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 1rem;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
}
.calendar__months-carousel > * {
  scroll-snap-align: start;
  flex-shrink: 0;
}
.calendar__months-carousel::-webkit-scrollbar {
  display: none;
}
.calendar__days {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 1rem 0;
  overflow-x: auto;
}
.calendar__days-selector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
.calendar__grid {
  position: relative;
  height: calc(100vh - 25rem);
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overscroll-behavior: contain;
  width: 80%;
  margin-top: 0.5rem;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.calendar__grid::-webkit-scrollbar {
  display: none;
}
.calendar__grid-list {
  position: relative;
  display: grid;
  grid-template-rows: repeat(17, 4rem);
  row-gap: 1px;
  border-top: 1px solid rgba(117, 112, 112, 0.404);
  border-image: linear-gradient(to left, transparent 1%, rgba(117, 112, 112, 0.404)) 1;
}
.calendar__grid:first-child {
  padding-top: 2rem;
}
.calendar__grid-hour-slot {
  position: relative;
  padding-left: 1rem;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #aaaaaa;
  border-bottom: 1px solid rgba(117, 112, 112, 0.404);
  border-image: linear-gradient(to left, transparent 1%, rgba(117, 112, 112, 0.404)) 1;
}

/*# sourceMappingURL=main.css.map */
