.input-error {
  border-bottom: 1px solid #ff5f5f !important;
}

body {
  font-family: "Oxanium", sans-serif;
}

.hidden {
  display: none !important;
}

.open {
  display: block;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  border: 0 !important;
}

/**
 * ========================================
 * LIST
 * ========================================
 */
.todo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  height: 100%;
  color: #aaaaaa;
  flex-grow: 1;
  margin-top: 5rem;
}
.todo__box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  height: 70dvh;
  overflow-y: auto;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
}
.todo__box::-webkit-scrollbar {
  display: none;
}
.todo__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  position: relative;
  gap: 3rem;
}
.todo__heading {
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 0.5rem;
  line-height: 1.5;
}
.todo__open-modal--btn {
  outline: none;
  border: none;
  color: #62c76b;
  cursor: pointer;
  position: fixed;
  bottom: 8rem;
  right: 5rem;
  background-color: transparent;
  backdrop-filter: blur(5px);
  border-radius: 5px;
  filter: drop-shadow(0 0 5px rgba(51.2676056338, 143.7323943662, 59.5070422535, 0.2)) drop-shadow(2px 2px 10px rgba(51.2676056338, 143.7323943662, 59.5070422535, 0.4));
}

/**
 * ========================================
 * LIST NODES
 * ========================================
 */
.task {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  background: #1c1c1e;
  border: 0.5px solid var(--glass-border);
  border-radius: 8px;
  width: 20rem;
  min-height: 2rem;
  position: relative;
  scroll-snap-align: start;
  padding: 0.5rem;
}
.task__main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  gap: 1rem;
  margin-bottom: 0.5rem;
}
.task__main--title {
  margin-right: auto;
  letter-spacing: 0.5px;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
}
.task__main--toggle {
  border: none;
  outline: none;
  background: transparent;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0;
  color: #62c76b;
  filter: drop-shadow(1px 1px 5px rgb(37.8591549296, 106.1408450704, 43.9436619718));
  padding: 0.2rem;
}
.task__main--accordion-btn {
  border: none;
  outline: none;
  background: transparent;
  width: 1rem;
  height: 1rem;
  margin: 0;
  margin-right: 1rem;
  color: #aaaaaa;
  filter: drop-shadow(1px 1px 5px rgb(93.5, 93.5, 93.5));
}
.task__divider {
  color: #44787c;
  display: block;
  width: 100%;
  height: 1px;
  border: 0;
  background: linear-gradient(90deg, transparent 0%, currentColor 20%, currentColor 80%, transparent 100%);
  margin-bottom: 0.2rem;
  box-shadow: -4px -6px 14px 7px rgba(255, 255, 255, 0.05), 0 7px 11px 4px rgba(0, 0, 0, 0.6);
}
.task__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 90%;
  color: #cccccc;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.2px;
  line-height: 1.5;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  max-height: 12rem;
  overflow-y: auto;
  margin-top: 0.5rem;
  -webkit-overflow-scrolling: touch;
  padding-right: 0.25rem;
  -webkit-mask-image: linear-gradient(to bottom, transparent 0, black 10px, black calc(100% - 10px), transparent 100%);
  mask-image: linear-gradient(to bottom, transparent 0, black 10px, black calc(100% - 10px), transparent 100%);
  scrollbar-width: none;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.task__details::-webkit-scrollbar {
  display: none;
}

/**
 * ========================================
 * LIST MODAL
 * ========================================
 */
.task-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100dvw;
  height: 100dvh;
  background: linear-gradient(60deg, rgba(22, 39, 54, 0.2823529412) 0%, rgba(35, 49, 59, 0.5568627451) 100%);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
}
.task-modal__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 80%;
  height: 35%;
  transition: opacity 1s ease;
}
.task-modal__form {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.06) 0%, rgba(255, 255, 255, 0) 30%), rgba(20, 20, 20, 0.02);
  backdrop-filter: saturate(1.1) blur(8px);
  -webkit-backdrop-filter: saturate(1.1) blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 14px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.04), 0 10px 30px rgba(0, 0, 0, 0.35);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  gap: 1rem;
  margin-bottom: auto;
}
.task-modal__error {
  color: #ff5f5f;
  font-size: 12px;
  font-weight: 500;
  position: absolute;
  top: 30%;
}
.task-modal__input-title {
  position: relative;
  margin-top: 3rem;
  line-height: 1.5;
  padding: 1rem;
  width: 80%;
  height: 2rem;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 7px;
  color: #ddd;
}
.task-modal__input-title::placeholder {
  color: #777;
  transition: all 0.8s ease;
}
.task-modal__input-title:focus {
  outline: 1px solid #6bcdce;
  box-shadow: 0 0 0 3px rgba(107, 205, 206, 0.18), inset 0 1px 0 rgba(255, 255, 255, 0.06);
}
.task-modal__input-title:focus::placeholder {
  transform: translateX(5rem);
  opacity: 0;
}
.task-modal__textarea {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 7px;
  color: #ddd;
  width: 80%;
  padding: 1rem;
  height: 30%;
  scrollbar-width: none;
}
.task-modal__textarea::placeholder {
  color: #777;
  transition: all 0.8s ease;
}
.task-modal__textarea:focus {
  outline: 1px solid #6bcdce;
  box-shadow: 0 0 0 3px rgba(107, 205, 206, 0.18), inset 0 1px 0 rgba(255, 255, 255, 0.06);
}
.task-modal__textarea:focus::placeholder {
  transform: translateX(5rem);
  opacity: 0;
}
.task-modal__textarea::-webkit-scrollbar {
  display: none;
}
.task-modal__actions {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-direction: row-reverse;
}
.task-modal__actions > button:first-child {
  box-shadow: 0 1px 2px rgba(255, 255, 255, 0.2);
  background: linear-gradient(135deg, rgba(30, 90, 80, 0.7), rgba(50, 160, 140, 0.7));
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.301);
  border-radius: 5px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.35), inset -3px -2px 6px 4px rgba(255, 255, 255, 0.08);
  transition: transform 0.8s ease, filter 0.15s ease;
  backdrop-filter: saturate(1.1) blur(12px);
  -webkit-backdrop-filter: saturate(1.1) blur(12px);
}
.task-modal__actions > button:first-child:hover {
  filter: brightness(1.06);
}
.task-modal__actions > button:first-child:active {
  transform: translateY(1px);
}
.task-modal__actions > button:last-child {
  box-shadow: 0 1px 2px rgba(255, 255, 255, 0.2);
  background: linear-gradient(135deg, rgba(110, 30, 30, 0.7), rgba(180, 60, 60, 0.7));
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.301);
  border-radius: 5px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.35), inset -3px -2px 6px 4px rgba(255, 255, 255, 0.08);
  transition: transform 0.8s ease, filter 0.15s ease;
  backdrop-filter: saturate(1.1) blur(12px);
  -webkit-backdrop-filter: saturate(1.1) blur(12px);
}
.task-modal__actions > button:last-child:hover {
  filter: brightness(1.06);
}
.task-modal__actions > button:last-child:active {
  transform: translateY(1px);
}
.task-modal .task-modal__title-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  top: 16%;
  z-index: 1;
  left: 0;
}
.task-modal__title {
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.task-modal__title-divider {
  color: rgba(30, 90, 80, 0.7);
  display: block;
  width: 90%;
  height: 2px;
  border: 0;
  border: 0;
  background: linear-gradient(90deg, transparent 0%, currentColor 50%, transparent 100%);
  margin-bottom: 0.2rem;
  box-shadow: -4px -6px 14px 7px rgba(255, 255, 255, 0.05), 0 7px 11px 4px rgba(0, 0, 0, 0.6);
}

.char-counter {
  color: #cccccc;
  font-weight: 400;
  font-size: 12px;
  position: absolute;
}
.char-counter[data-for=list-input] {
  top: 32%;
  left: 80%;
}
.char-counter[data-for=list-description] {
  top: 68%;
  left: 78%;
}
.char-counter.exceeded {
  color: #ff5f5f;
  filter: drop-shadow(0px 1px 1px rgba(238, 94, 91, 0.1));
}

/**
 * ========================================
 * ROADMAP
 * ========================================
 */
.roadmap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  position: relative;
  height: 100%;
  flex-grow: 1;
  margin-top: 5rem;
}
.roadmap__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  position: relative;
  height: 100%;
  gap: 4rem;
  padding: 3rem 1.5rem 1.5rem 1.5rem;
}
.roadmap-selector {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  position: relative;
  height: 70dvh;
  flex-grow: 1;
  overflow-y: auto;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  scroll-padding-top: 2rem;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
}
.roadmap-selector__empty {
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
}

/**
 * ========================================
 *  SELECTOR MODAL
 * ========================================
 */
/**
 * ========================================
 * ROADMAP MODAL
 * ========================================
 */
.selector-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100dvw;
  height: 100dvh;
  background: linear-gradient(60deg, rgba(22, 39, 54, 0.2823529412) 0%, rgba(35, 49, 59, 0.5568627451) 100%);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
}
.selector-modal__tab-btn {
  height: 2rem;
  border: none;
  outline: none;
  color: #cccccc;
  font-weight: 500;
  font-size: 14px;
}
.selector-modal__panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 80%;
  height: 35%;
  border-radius: 14px;
  border: none;
}
.selector-modal__panel-nav {
  display: flex;
  width: 100%;
  height: 10%;
  position: relative;
  top: -45%;
  z-index: 1;
}
.selector-modal__panel-nav button[data-mode=manual] {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-bottom: none;
  border-radius: 14px 0 0 0;
  box-shadow: inset 3px 7px 14px 9px rgba(255, 255, 255, 0.04), -2px 9px 18px 5px rgba(0, 0, 0, 0.3);
  width: 50%;
}
.selector-modal__panel-nav button[data-mode=manual].pressed {
  box-shadow: none;
}
.selector-modal__panel-nav button[data-mode=import] {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.03) 0%, rgba(255, 255, 255, 0) 40%), rgba(10, 10, 10, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-bottom: none;
  border-radius: 0 14px 0 0;
  box-shadow: inset 3px 7px 14px 9px rgba(255, 255, 255, 0.04), -2px 9px 18px 5px rgba(0, 0, 0, 0.3);
  width: 50%;
}
.selector-modal__panel-nav button[data-mode=import].pressed {
  box-shadow: none;
}
.selector-modal__form--manual, .selector-modal__form--import {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.06) 0%, rgba(255, 255, 255, 0) 30%), rgba(20, 20, 20, 0.02);
  backdrop-filter: saturate(1.1) blur(8px);
  -webkit-backdrop-filter: saturate(1.1) blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 14px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.04), 0 10px 30px rgba(0, 0, 0, 0.35);
  transition: opacity 1s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  gap: 1rem;
  position: absolute;
  margin-bottom: auto;
}
.selector-modal__title-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  top: -5%;
  left: 0;
}
.selector-modal__title {
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
}
.selector-modal__form--import {
  top: 0%;
}

/**
 * ========================================
 * ROADMAP NODES
 * ========================================
 */
.roadmap-node, .disabled-node {
  position: relative;
}
.roadmap-node.right, .right.disabled-node {
  align-self: flex-start;
}
.roadmap-node.left, .left.disabled-node {
  align-self: flex-end;
}
.roadmap-node__header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 2rem;
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  border-radius: 8px 8px 0 0;
  padding: 0.2rem 0 0.5rem 0;
}
.roadmap-node__content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  background: #1c1c1e;
  border: 0.5px solid rgba(255, 255, 255, 0.1);
  overflow: visible;
  max-width: 18rem;
  width: auto;
  max-height: initial;
  height: auto;
  transition: transform 0.4s ease;
  scroll-snap-align: start;
  border-radius: 8px;
}
.roadmap-node__active-border {
  box-sizing: content-box;
  border-radius: 8px;
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(from var(--angle), transparent 80%, #6bcdce);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 2px;
  animation: 2.5s spin linear infinite;
}
.roadmap-node__actions {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem 0 0.5rem 0;
}
.roadmap-node__time {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  font-weight: 500;
  font-size: 9px;
  border-radius: 0 0 10px 10px;
  letter-spacing: 1px;
  padding: 0.1rem;
  position: absolute;
  margin-top: 0.5rem;
  top: 1rem;
  right: 6%;
}
.roadmap-node__title {
  display: flex;
  position: relative;
  width: 100%;
  min-height: 2rem;
  margin: 0.5rem 0 0 1rem;
  padding: 0.1rem 0 0.1rem 0;
  border-radius: 10px 10px 0 0;
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
}
.roadmap-node__progress {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  margin-bottom: 0.5rem;
}
.roadmap-node__progress-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 80%;
  height: 12px;
  background-color: #262629;
  border: 0.5px solid rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  overflow: hidden;
}
.roadmap-node__progress-text {
  color: #aaaaaa;
  font-weight: 300;
  font-size: 10px;
  margin-top: 4px;
  position: absolute;
}
.roadmap-node__progress-fill {
  height: 100%;
  width: 0%;
  background-color: #6bcdce;
  filter: blur(10px);
  transition: width 1s ease-in-out;
}
.roadmap-node__subtasks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem 0.5rem;
  flex-wrap: wrap;
  overflow-y: auto;
  max-height: 15rem;
  margin-top: 0.5rem;
  padding: 0.5rem;
}

.disabled-node {
  opacity: 0.5;
  filter: grayscale(1);
  pointer-events: none;
  min-width: 6rem;
  min-height: 3rem;
}
.disabled-node .roadmap-node__title {
  font-size: 12px;
}
.disabled-node .roadmap-node__header {
  align-items: stretch;
  padding: 0;
}
.disabled-node .roadmap-node__content {
  justify-content: center;
}

.subtask-item {
  display: flex;
  padding: 0.2rem 0 0.2rem 0;
  font-size: 11px;
  font-weight: 500;
  flex-wrap: wrap;
}
.subtask-item__label {
  display: flex;
}
.subtask-item__checkbox--disabled {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}
.subtask-item__checkbox--custom {
  height: 0.8rem;
  width: 0.8rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  position: relative;
  min-width: 0.8rem;
  min-height: 0.8rem;
  margin-right: 0.5rem;
  flex: 0 0 auto;
}
.subtask-item__checkbox--text {
  color: #ffffff;
  font-weight: 400;
  font-size: 10px;
  flex-wrap: wrap;
}
.subtask-item__checkbox--disabled:checked + .subtask-item__checkbox--custom::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 1px;
  width: 6px;
  height: 12px;
  border: solid var(--color-done);
  transform: rotate(45deg);
  border-width: 0 2px 2px 0;
}
.subtask-item__checkbox--disabled:checked ~ .subtask-item__checkbox--text {
  color: #62c76b;
  text-decoration: line-through;
  opacity: 0.5;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

/*# sourceMappingURL=main.css.map */
