/* Karty, modale */
/* Glassmorphic okna */
/*  Akcenty */
.calendar__months-nav {
  border: none;
  outline: none;
  background: transparent;
  width: 1rem;
  height: 1rem;
  margin: 0;
  color: #aaaaaa;
  filter: drop-shadow(5px 8px 15px #777777);
}

.calendar__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.calendar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  font-family: "Oxanium", sans-serif;
  color: #aaaaaa;
  top: 4rem;
}
.calendar__months {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}
.calendar__months-carousel {
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
  display: flex;
  width: 6rem;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 1rem;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
}
.calendar__months-carousel::-webkit-scrollbar {
  display: none;
}
.calendar__months-carousel > * {
  scroll-snap-align: start;
  flex-shrink: 0;
}
.calendar__months-carousel-month {
  justify-content: center;
  display: flex;
  scroll-snap-align: center;
  flex: 0 0 100%;
  text-align: center;
}
.calendar__months-carousel-month--active {
  color: #9be5ec;
  text-decoration: underline;
  text-underline-offset: 0.4rem;
  display: flex;
  text-align: center;
  justify-content: center;
  width: 4.5rem;
}
.calendar__days {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  margin: 1rem 0;
  overflow-x: auto;
}
.calendar__days-selector {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 90%;
}
.calendar__grid {
  position: relative;
  height: calc(100vh - 25rem);
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overscroll-behavior: contain;
  width: 80%;
  margin-top: 0.5rem;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.calendar__grid::-webkit-scrollbar {
  display: none;
}
.calendar__grid-list {
  position: relative;
  display: grid;
  grid-template-rows: repeat(17, 4rem);
  row-gap: 1px;
  border-top: 1px solid rgba(117, 112, 112, 0.404);
  border-image: linear-gradient(to left, transparent 1%, rgba(117, 112, 112, 0.404)) 1;
}
.calendar__grid:first-child {
  padding-top: 2rem;
}
.calendar__grid-hour-slot {
  position: relative;
  padding-left: 1rem;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #aaaaaa;
  border-bottom: 1px solid rgba(117, 112, 112, 0.404);
  border-image: linear-gradient(to left, transparent 1%, rgba(117, 112, 112, 0.404)) 1;
}

.task-drawer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  background: rgba(65, 65, 65, 0.089);
  backdrop-filter: blur(20px) saturate(120%);
  -webkit-backdrop-filter: blur(20px) saturate(120%) brightness(1.4);
  box-shadow: inset 0 1px 1px rgba(200, 220, 255, 0.35), 0 8px 15px rgba(200, 220, 255, 0.15);
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  min-height: 15rem;
  transform: translateY(80%);
  transition: transform 0.3s ease;
  border-top: 1px solid rgba(255, 255, 255, 0.185);
}
.task-drawer__btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  position: absolute;
  top: 0.5rem;
}
.task-drawer__btn {
  border: none;
  outline: none;
  background: transparent;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0.5rem;
  color: #62c76b;
  filter: drop-shadow(5px 8px 15px rgb(51.2676056338, 143.7323943662, 59.5070422535));
}
.task-drawer.is-open {
  transform: translateY(0%);
}
.task-drawer__task-list {
  padding: 2rem;
  display: flex;
  width: 75%;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 1rem;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
}
.task-drawer__task-list::-webkit-scrollbar {
  display: none;
}
.task-drawer__task-list > * {
  scroll-snap-align: start;
  flex-shrink: 0;
}
.task-drawer__task-list-item {
  overflow: hidden;
  min-width: 6rem;
  min-height: 4rem;
  border-radius: 5px;
  padding: 0.5rem;
  background: rgba(65, 65, 65, 0.089);
  backdrop-filter: blur(20px) saturate(120%);
  -webkit-backdrop-filter: blur(20px) saturate(120%) brightness(1.4);
  box-shadow: inset 0 1px 1px rgba(200, 220, 255, 0.35), 0 8px 15px rgba(200, 220, 255, 0.15);
  background: rgba(65, 65, 65, 0.164);
}
.task-drawer__drag-handle {
  width: 100%;
  overflow: hidden;
  background-color: #62c76b;
  position: absolute;
  border-radius: 5px 5px 0 0;
  top: 0;
  left: 0;
}
.task-drawer__drag-handle.prio-medium {
  background-color: #ff8c32;
}
.task-drawer__drag-handle.prio-high {
  background-color: #db5656;
}
.task-drawer__drag-title {
  display: inline-block;
  color: #000;
  font-weight: 600;
  font-size: 13px;
  position: relative;
  white-space: nowrap;
}
.task-drawer .marquee {
  animation: scroll-left 10s linear infinite;
}
.task-drawer__task-info-btn {
  position: absolute;
  border: none;
  outline: none;
  background: transparent;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0;
  color: #000;
  filter: drop-shadow(5px 8px 15px hsl(0, 0%, -20%));
  background-color: #62c76b;
  height: 2.5rem;
  right: -0.8rem;
  transform: skewX(-45deg);
  bottom: -0.8rem;
}
.task-drawer__task-info-btn.prio-medium {
  background-color: #ff8c32;
}
.task-drawer__task-info-btn.prio-high {
  background-color: #db5656;
}
.task-drawer__task-info-btn svg {
  position: relative;
  margin-top: 0.3rem;
  transform: skewX(45deg);
  width: 1rem;
  top: 0.1rem;
  left: -0.3rem;
}
.task-drawer__tooltip {
  display: flex;
  position: absolute;
  box-shadow: inset 0 1px 1px rgba(200, 220, 255, 0.35), 0 8px 15px rgba(200, 220, 255, 0.15);
  max-width: 15rem;
  padding: 0.5rem;
  top: -5rem;
  border-radius: 5px;
  background: #1c1c1e;
  border: 1px solid rgba(107, 106, 106, 0.1);
  text-align: center;
}
.task-drawer__tooltip > p {
  font-size: 12px;
}
.task-drawer__tooltip::after {
  content: "";
  border-bottom: 2px solid rgba(107, 106, 106, 0.1);
  border-right: 2px solid rgba(107, 106, 106, 0.1);
  position: absolute;
  top: 80%;
  left: 5%;
  transform: rotate(45deg);
  width: 1rem;
  height: 1rem;
  background: #1c1c1e;
}

@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.calendar__weekday-btn {
  border: none;
  outline: none;
  background: transparent;
  width: 3rem;
  height: 2rem;
  margin: 0;
  color: #aaaaaa;
  font-weight: 300;
  font-size: 12px;
  line-height: 2rem;
  padding-bottom: 0.25rem;
  border-right: 1px solid rgba(117, 112, 112, 0.404);
  transition: border-color 0.2s ease;
  transition: width 0.2s ease;
  border-image: linear-gradient(to bottom, transparent 30%, rgba(117, 112, 112, 0.404)) 1;
  margin: 0;
}
.calendar__weekday-btn.is-active {
  width: 4rem;
  color: #6bcdce;
  background: linear-gradient(to bottom, transparent, rgba(107, 205, 206, 0.1));
  font-size: 14px;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(to bottom, transparent 50%, #6bcdce) 1;
  border-radius: 0 0 7px 7px;
  border-bottom-color: #6bcdce;
  font-weight: 400;
  filter: drop-shadow(1px 2px 5px #44787c);
}
.calendar__weekday-btn:last-child {
  border-right: none;
}

/*# sourceMappingURL=main.css.map */
