
.roadmap-section,
.roadmap-list {
  color: var(--text-primary);
  display: flex;
  flex-direction: column;
  
  position: relative;
}
.roadmap-list {
  gap: 2rem;
  padding: 1.5rem;
}

  
.roadmap-section {
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 5rem;
  
}
.title-roudmap{
  margin: .5rem .5rem .2rem 1.4rem;
  display: flex;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  flex-direction: row;
  justify-content: space-between;
}
.roadmap-box {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  height: 70dvh;
  overflow-y: auto;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
}
.roadmap-node {
  background: var(--color-bg-soft);
   border: 0.5px solid var(--glass-border); 
  overflow:visible;
  width: 20rem;
  min-height: 2rem;
  position: relative;
  display: flex;
  justify-content: space-around; 
  
  flex-direction: column;
  position: relative;
  margin-bottom: 1.3rem;
  scroll-snap-align: start;
  border-radius: 8px;
  
  
 
}
@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.active-border::after, .active-border::before{
  
  box-sizing: content-box;
  border-radius: 8px;
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(from var(--angle), transparent 80%, var(--color-accent));
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 2px;
  animation: 2.5s spin linear infinite;
}

.active-border::before{
  filter: blur(1rem);
  opacity: .5;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to{
    --angle: 360deg;
  }
}
.roud-title{
   
  line-height: 1.5;
  font-size: 18px;
  font-weight: 600;
}
  
  
 

.node-btn-container{
  display:flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row-reverse;

  width: 100%;
  padding: .5rem 0 .5rem 0;
}


.timer{
  display: flex;
  height: 3rem;
  width: 5rem;
  background: var(--color-subtask);
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  border-radius: 20%;
  letter-spacing: 1px;
  flex-direction: column;
}
.node-time {
  margin-top: 4px;
}
.progress-container {
  display:flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: .5rem;
}
.progress-bar{
  height: 12px;
  width: 80%;
  background-color: var(--color-subtask);
  border:  .5px solid var(--glass-border);
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}
.progress-fill {
  height: 100%;
  width: 20%;
  background-color: var(--color-accent);
  filter: blur(10px);
  transition: width 1s ease-in-out;
}
.progress-text {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  margin-bottom: .5rem;
}
.subtask-list{
  display:flex;
  flex-wrap: wrap;
  
}
.subtask-item{
  margin: .2rem 1rem .2rem 1rem;
  display: flex;
  padding: .2rem 0 .2rem 0;
  font-size: 11px;
  font-weight: 500;
  flex-wrap: wrap;
}
.roud-disabld-checkbox {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}
.custom-check{
  height: 1rem;
  width: 1rem;
  border: 1px solid var(--glass-border);
  border-radius: 2px;
  position: relative;
  display: inline-block;
  margin-right: .5rem;
}
.subtask, .subtask-text{
  display: flex;
  flex-wrap: wrap;
}
.roud-disabld-checkbox:checked +.custom-check::after {
  content: '';
  position: absolute;
  left: 5px;
  top: 1px;
  width: 6px;
  height: 12px;
  border:   solid var(--color-done);
  transform: rotate(45deg);
  border-width:0 2px 2px 0 ;
}
.roud-disabld-checkbox:checked ~ .subtask-text {
  color: var(--color-done);
  text-decoration: line-through;
  opacity: .5;
}
.roadmap-list .roadmap-node:nth-child(even) {
  
  align-self: flex-start;
}

.roadmap-list .roadmap-node:nth-child(odd) {
  
  align-self: flex-end;
}





  
  
