// Colors:
$primary:#0d0d0d; //tło głowne
$bgSoft: #1c1c1e; /* Karty, modale */
$glassBg: rgba(22, 22, 22, 0.6); /* Glassmorphic okna */
$textPrimary: #ffffff; 
$textSecondary: #aaaaaa;
$divider: rgba(117, 112, 112, 0.404);
$bgMajor: #262629;

/*  Akcenty */
$accent: #6bcdce;
$accentLight: #9be5ec;
$accentBorder: #44787c;

// Spacing
$space-xs: 0.25rem;
$space-sm: 0.5rem;
$space-md: 1rem;
$space-lg: 2rem;

// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
//Fonts and weights
$mainFont: "Oxanium", sans-serif;
$font-weights: (
  "light": 300,
  "regular": 400,
  "medium": 500,
  "bold": 700
);
// Mixins:
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    
}
@mixin flex-center-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
@mixin flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin horizontal-carousel($gap: 1rem, $scrollSnap: true) {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: $gap;
    scroll-behavior: smooth;

    @if $scrollSnap{
        scroll-snap-type: x mandatory;
        > * {
            scroll-snap-align: start;
            flex-shrink: 0;
        }
    }
    &::-webkit-scrollbar {
        display: none;
    }
    & {
    -ms-overflow-style: none;
    scrollbar-width: none;
    }
}


//style:
/*------------------------------------------------------------------------------------*/
//main section
.calendar__section{
    @include flex-center;
}

.calendar{
    @include flex-center-column;
    font-family: $mainFont;
    color: $textSecondary;
    width: 100%;
    top: 4rem;
    //months
    &__months{
        @include flex-center;
        &-carousel {
            @include horizontal-carousel;
            width: 4.5rem;
        }
    }
    //days
    &__days{
        @include flex-center;
        &-carousel{
            @include horizontal-carousel;
            width: 90%;
        }
    }
}
