// Mixins:
@use "../variables/variables" as var;
@use "sass:map";
@use "sass:color";

@mixin flex(
  $direction: column,
  $justify: center,
  $align: center,
  $width: null,
  $height: null
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  position: relative;

  @if $width {
    width: $width;
  }
  @if $height {
    height: $height;
  }
}

@mixin horizontal-carousel($width: auto, $gap: 1rem, $scrollSnap: true) {
  display: flex;
  width: $width;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: $gap;

  // hide scrollbars for all browsers
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }

  @if $scrollSnap {
    scroll-snap-type: x mandatory;
    > * {
      //all childs
      scroll-snap-align: start;
      flex-shrink: 0;
    }
  }
}

@mixin set-text($variant, $weightName, $sizeName) {
  color: map.get(var.$textColors, $variant);
  font-weight: map.get(var.$fontWeights, $weightName);
  font-size: map.get(var.$fontSize, $sizeName);
}

@mixin styled-button($size-w, $size-h: null, $color: null, $margin: 0) {
  border: none;
  outline: none;
  background: transparent;

  @if $size-h == null {
    width: $size-w;
    height: $size-w;
  } @else {
    width: $size-w;
    height: $size-h;
  }
  margin: $margin;
  @if $color != null {
    color: $color;
    filter: drop-shadow(5px 8px 15px color.adjust($color, $lightness: -20%));
  }
}
@mixin glass-modal($minor: false) {
  background: rgba(65, 65, 65, 0.089);
  backdrop-filter: blur(20px) saturate(120%);
  -webkit-backdrop-filter: blur(20px) saturate(120%) brightness(1.4);
  box-shadow: var.$shadow-light;

  @if $minor {
    background: rgba(65, 65, 65, 0.164);
  }
}
