// Colors:
$primary: #0d0d0d;
$bgSoft: #1c1c1e;
$bgMajor: #262629;

$glassBg: rgba(22, 22, 22, 0.6);
$activedayBG: rgba(107, 205, 206, 0.1);
$borderOne: rgba(107, 106, 106, 0.1);

$textPrimary: #ffffff;
$textSecondary: #aaaaaa;
$textBlack: #000;
$textMuted: #cccccc;

$divider: #2a2a2a;
$filterGreen: #62c76b;
$itemMedium: #ff8c32;
$itemHigh: #db5656;
$formError: #ff5f5f;

//  shadows:
//shadow inset
$shadow-in-main: inset 0 1px 1px rgba(255, 255, 255, 0.05),
  0 8px 24px rgba(0, 0, 0, 0.6);
$shadow-in-light: inset -1px 0px 20px 5px rgba(200, 220, 255, 0.35),
  0 8px 15px rgba(200, 220, 255, 0.15);
//shadows outset
$shadow-out-main: -4px -6px 14px 7px rgba(255, 255, 255, 5%),
  0 7px 11px 4px rgba(0, 0, 0, 0.6);
//modal colors:
$modal-btn-green-from: rgba(30, 90, 80, 0.7);
$modal-btn-green-to: rgba(50, 160, 140, 0.7);
$modal-btn-red-from: rgba(110, 30, 30, 0.7);
$modal-btn-red-to: rgba(180, 60, 60, 0.7);
//  Accents
$accent: #6bcdce;
$accentLight: #9be5ec;
$accentBorder: #44787c;

// Spacing
$spaceXs: 0.25rem;
$spaceSm: 0.5rem;
$spaceMd: 1rem;
$spaceLg: 2rem;

// Breakpoints
$breakpointSm: 576px;
$breakpointMd: 768px;
$breakpointLg: 992px;
$breakpointXl: 1200px;
//Fonts and weights
$mainFont: 'Oxanium', sans-serif;

$fontWeights: (
  'light': 300,
  'regular': 400,
  'medium': 500,
  'semibold': 600,
  'bold': 700,
);
$fontSize: (
  'sm': 10px,
  'md': 12px,
  'reg': 14px,
  'lg': 16px,
  'xl': 18px,
);
$textColors: (
  'main': $textPrimary,
  'secondary': $textSecondary,
  'emphasized': $textBlack,
  'muted': $textMuted,
);
