@use '../variables/variables' as var;
@use '../variables/mixins';

.selector-modal {
  @include mixins.flex($height: 100dvh, $width: 100dvw);
  @include mixins.glass-BG();
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  &__tab-btn {
    height: 2rem;
    border: none;
    outline: none;
    @include mixins.set-text(muted, medium, reg);
  }
  &__panel {
    @include mixins.flex($height: 35%, $width: 80%);

    border-radius: 14px;
    border: none;

    &-nav {
      display: flex;
      width: 100%;
      height: 10%;
      position: relative;
      top: -45%;
      z-index: 1;

      button[data-mode='manual'] {
        @include mixins.glass-tab();
        width: 50%;
        &.pressed {
          box-shadow: none;
        }
      }
      button[data-mode='import'] {
        @include mixins.glass-tab($variant: dark);
        width: 50%;
        background: transparent;

        &.pressed {
          box-shadow: none;
        }
      }
    }
  }
  &__form--manual {
    @include mixins.glass-panel;
    transition: opacity 1s ease;
    @include mixins.flex($height: 100%, $width: 100%);
    gap: 1rem;
    position: absolute;
    margin-bottom: auto;
  }
  &__title-wrap {
    @include mixins.flex($width: 100%);
    top: -15%;
    left: 0;
  }
  &__title {
    @include mixins.set-text(main, semibold, xl);
  }

  &__input-wrap {
    @include mixins.flex($width: 100%);
    top: -10%;
    @include mixins.glass-input-label;
    p {
      left: 45%;
      color: var.$formError;
      font-size: 10px;
      font-weight: 500;
      position: absolute;
      top: 30%;
    }
  }

  &__subtask {
    &-label-wrap {
      @include mixins.flex($width: 80%, $direction: row, $justify: flex-start);
    }
    &-label {
      @include mixins.set-text(secondary, light, md);
      margin-left: 1rem;
    }
    &-add-btn {
      @include mixins.styled-button($size-w: 1.5rem, $color: var.$filterGreen);
      margin-left: 0.6rem;
    }
    &-list {
      position: absolute;
      @include mixins.set-text(secondary, light, sm);
      display: grid;
      justify-items: center;
      grid-template-columns: repeat(4, 1fr);
      gap: 0.8rem 1rem;
      width: 80%;
      top: 70%;
      height: 3rem;
      overflow-y: auto;
      scroll-snap-type: y mandatory;
      &li {
        scroll-snap-align: center;
      }
    }

    &-wrap {
      @include mixins.flex($width: 100%, $direction: row);
      position: absolute;
      top: 55%;
      @include mixins.glass-input-label($width: 58%);
      p {
        left: 50%;
      }
    }
  }
  &__actions {
    position: fixed;
    @include mixins.flex(
      $width: 100%,
      $direction: row-reverse,
      $justify: space-evenly
    );
    top: 25%;
    > button:first-child {
      box-shadow: 0 1px 2px rgba(255, 255, 255, 0.2);
      @include mixins.glass-button(
        var.$modal-btn-green-from,
        var.$modal-btn-green-to
      );
    }
    > button:last-child {
      box-shadow: 0 1px 2px rgba(255, 255, 255, 0.2);
      @include mixins.glass-button(
        var.$modal-btn-red-from,
        var.$modal-btn-red-to
      );
    }
  }
  &__form--import {
    @extend .selector-modal__form--manual;
    top: 0%;

    background: linear-gradient(
        180deg,
        var.$top-glow 0%,
        rgba(255, 255, 255, 0) 50%
      ),
      var.$tint;
    span {
      top: -15%;
      align-items: stretch;

      div {
        width: 90%;
        margin: 0 auto;
      }
    }
    > div:first-of-type {
      @include mixins.flex($width: 100%, $direction: row, $align: stretch);
      @include mixins.glass-input-label($is-textarea: true);
      position: absolute;
      top: 35%;
      p {
        left: 60%;
      }
    }
    > div:nth-of-type(2) {
      top: 28%;
    }
  }
  &__footer {
    @include mixins.flex($width: 80%);
    @include mixins.set-text(muted, light, sm);
    top: 29%;
  }
  &__form--create {
    @extend .selector-modal__form--manual;
    height: auto;
    padding: 1rem 0;
    h3 {
      @include mixins.set-text(main, semibold, xl);
    }
    span[data-for='create-map-input'] {
      left: 72%;
    }
  }
}
