@use '../variables/variables' as var;
@use '../variables/mixins';
.roadmap {
  @include mixins.flex($align: stretch, $height: 100%);
  flex-grow: 1;
  margin-top: 5rem;

  &__list {
    @include mixins.flex($align: stretch, $height: 100%, $justify: flex-start);
    gap: 4rem;
    padding: 3rem 1.5rem 1.5rem 1.5rem;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
      display: none;
    }
    li {
      scroll-snap-align: center;
    }
  }
  &__content {
    &-action-wrap {
      display: flex;
      margin-left: 1rem;
      position: fixed;
      cursor: pointer;
      z-index: 5;
    }
  }

  &-selector {
    @include mixins.flex($align: stretch, $height: 70dvh, $justify: flex-start);
    flex-grow: 1;
    overflow-y: auto;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    scroll-padding-top: 2rem;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    &__empty {
      @include mixins.set-text(main, semibold, xl);
      line-height: 1.5;
    }
    &__title-divider {
      @include mixins.dividier($mode: border);
      color: var.$accent;
      margin: 0.5rem 0;
      width: 90%;
      box-shadow: -4px -6px 14px 7px rgba(255, 255, 255, 5%),
        1px 20px 20px 10px rgba(0, 0, 0, 0.6);
    }
    &__actions {
      @include mixins.flex($direction: row, $width: 100%);
      margin-top: 0.5rem;
      button {
        @include mixins.flex($direction: row, $justify: space-evenly);
        @include mixins.styled-button(
          $size-w: 6rem,
          $size-h: 3rem,
          $color: var.$accent
        );
        border-radius: 10px;
        background: rgba(107, 205, 206, 0.1);
        font-size: 12px;
        box-shadow: inset 0px -5px 16px 19px rgba(0, 0, 0, 0.97),
          -1px -1px 6px 0px rgba(56, 248, 225, 0.18);
      }
    }
    &__item-actions {
      @include mixins.flex($direction: column-reverse);
      position: absolute;
      gap: 1.7rem;
      left: 90%;
      button {
        color: var.$textSecondary;
        @include mixins.styled-button($size-w: 1.3rem);
      }
    }
    &__list-wrap {
      @include mixins.flex($width: 100%);
      padding: 1rem 0;

      overflow-y: auto;
      scroll-behavior: smooth;
      scroll-snap-type: y mandatory;
      -webkit-overflow-scrolling: touch;
      scrollbar-width: none;
      ul {
        @include mixins.flex($width: 80%);
        gap: 2.5rem;
        margin-top: 1rem;

        li {
          @include mixins.flex(
            $width: 100%,
            $height: 6rem,
            $justify: flex-start
          );
          padding: 0.5rem;
          background: var.$bgSoft;
          @include mixins.set-text(main, medium, lg);
          border-radius: 10px;
          border: 1px solid var.$borderTwo;
          p {
            margin: 0 auto 0 1rem;
          }
        }
      }
    }
    &__item-time {
      @include mixins.flex($width: 100%, $direction: row);
      margin-left: 2rem;
      &--title {
        @include mixins.set-text(secondary, regular, reg);
      }
      &--node {
        @include mixins.set-text(secondary, regular, md);
      }
    }
  }
}
.leader-line {
  z-index: 999;
  pointer-events: none;
}
.connection-glow {
  filter: drop-shadow(2px 2px 6px #6bcdce);
}

.error-border {
  border: 0.5px solid var(--btn-danger);
}
.visible {
  opacity: 1;
  pointer-events: all;
}
